DB_USER=postgres
DB_PASSWORD=tu_password_rds
DB_HOST=postgres-01.covks6sg8pgb.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres

AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_DEFAULT_REGION=us-east-1

AWS_BUCKET_VIDEOS=tu-bucket-videos
AWS_BUCKET_THUMBNAILS=tu-bucket-miniaturas